#include <windows.h>

MAIN ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION    1,0,0,0
    PRODUCTVERSION 1,0,0,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "FileDescription",    "Create a C++ project.\0"
            VALUE "LegalCopyright",     "xRockmetalx\0"
            VALUE "OriginalFilename",   "app.exe\0"
            VALUE "ProductName",        "app\0"
            VALUE "ProductVersion",     "1.0.0.0\0"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}